.home-container {
    display: flex;
    justify-content: space-around; /* Ensures even spacing */
    padding: 20px;
  }
  
  .rutina-item {
    border: 1px solid #000;
    padding: 20px; /* Increased padding for better spacing */
    margin: 10px; /* Margin for spacing between items */
    flex: 1;
    text-align: center; /* Center text horizontally */
    display: flex; /* Flexbox for vertical centering */
    flex-direction: column; /* Column direction */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for 3D effect */
    border-radius: 8px; /* Rounded corners for a nicer look */
    background:transparent
  }
